<input type="text" class="form-control" [(ngModel)]="serverName">
<hr>
<button class="btn btn-primary" [disabled]='!allowNewServer' (click)="onCreateServer()">Add Server</button>
<p [innerText]="allowNewServer"></p>
<p *ngIf="serverCreated"  >Server was created, server name is {{ serverName}}</p>

<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<app-server *ngFor="let server of servers"></app-server>

<!--Asignment-->
<p  [ngStyle]="{display: display}">Password secrete</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">value</th>
    </tr>
  </thead>
  <tbody>
    <tr   *ngFor="let i of clicks">
      <th  scope="row"><p [ngStyle]="{backgroundColor: i >=5 ? 'blue': 'transparent'}" >{{i}}</p></th>
    </tr>
  </tbody>
</table>
<hr>
<button class="btn btn-primary" (click)="displayParagrah()" >Display Details</button>

